<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head></head>
<body>
<main th:fragment="main">
    <section class="welcome">
        <h2 sec:authorize="isAuthenticated()" th:text="${session.userSession != null && session.userSession.name != null ? #strings.capitalize(session.userSession.name) : 'Invitado'}"></h2>
        <p>Accede a las opciones para gestionar fábricas y artículos.</p>
    </section>
</main>
</body>
</html>