<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Lista de Fábricas.')}"></head>
<body class="lista-articulos">
<header th:replace="~{fragments/header :: header}"></header>
<section class="form-container">
    <h2 sec:authorize="hasRole('ADMIN')">Gestión de Fábricas</h2>
    <h2 sec:authorize="hasRole('USER')">Lista de Fábricas</h2>

    <!-- Mensajes de éxito o error -->
    <div th:replace="~{fragments/success :: success}"></div>
    <div th:replace="~{fragments/error :: error}"></div>

    <a sec:authorize="hasRole('ADMIN')" th:href="@{/factory/form}" class="btn">Nueva Fábrica</a>

    <!-- Tabla para mostrar fábricas -->
    <table class="table lista-articulos-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th sec:authorize="hasRole('ADMIN')">Acciones</th>
        </tr>
        </thead>
        <tbody th:each="factory : ${factories}">
        <tr>
            <td th:text="${factory.idFactory}"></td>
            <td th:text="${factory.factoryName}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/factory/form/__${factory.idFactory}__}" class="btn btn-edit">
                    <i class="fas fa-edit">Modificar</i>
                </a>
                <form th:action="@{/factory/delete/__${factory.idFactory}__}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-delete" onclick="return confirm('¿Estás seguro?')">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>