<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head('Lista de Fábricas.')}"></head>
<body class="lista-articulos">
<header th:replace="~{fragments/header :: header}"></header>
<section sec:authorize="hasRole('ADMIN')" class="form-container">
    <h2>Gestión de Usuarios</h2>

    <!-- Mensajes de éxito o error -->
    <div th:replace="~{fragments/success :: success}"></div>
    <div th:replace="~{fragments/error :: error}"></div>

    <a th:href="@{/user/form}" class="btn">Nuevo Usuario</a>

    <!-- Tabla para mostrar fábricas -->
    <table class="table lista-articulos-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>eMail</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody th:each="user : ${users}">
        <tr>
            <td th:text="${user.id}"></td>
            <td th:text="${user.name} + ' ' + ${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.rol}"></td>
            <td>
                <a th:href="@{/user/form/__${user.id}__}" class="btn btn-edit">
                    <i class="fas fa-edit">Modificar</i>
                </a>
                <form th:action="@{/user/delete/__${user.id}__}" method="GET" style="display: inline;">
                    <button type="submit" class="btn btn-delete" onclick="return confirm('¿Estás seguro?')">
                        <i class="fas fa-trash-alt"></i> Eliminar
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</section>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>